	<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
            <title>Andrews Balbino Campos</title>
            <link rel="icon" href="http://static.palmeiras.com.br/content/public/upload/imagem/times/imagem_20_original.png" />
            <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' /> 
			<script>
				$(document).ready(function(){
				    $("#new-account").click(function(){
				    	window.location.href = "usuario/cadastro"
				    });
				    $("#reset-password").click(function(){
				    	window.location.href = "usuario/reset/password"
				    });
				});
			</script>     
    </head>
    <body>
        <div class="background">
            <div>
            <div class="container" style="height: 30%">
                
                <div class="form-login">
                	<form th:action="@{/usuario/send/password}" id="form-index" method="post">
	                    <div class="row-40">
	                      <input type="email" class="text-line width-100" name="email" placeholder="email@email.com " />
	                    </div>
	                    
	                    <div class="row-40">
	                        <input type="submit" value="Send reset email" class="btn width-100" />
	                    </div>
	                    <div class="row-40">
	                    </div>
					</form>
                </div>
            
            </div>
            </div>
        </div>
    </body>
</html>